body {
    font-family: Arial, sans-serif;
  }
  h1 {
    text-align: center;
  }
  .registration-form {
    margin: 20px auto;
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .registration-form label,
  .registration-form input {
    display: block;
    margin-bottom: 10px;
  }
  .registration-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .botonSesion{
    text-align: center;
    background: linear-gradient(30deg,#000000, #FF0000); /*Color del marco */
    padding: 10px ; /*acomodar */
    display: block; /*darle un espaciado */

  }
  .boton{
    color:#f5f5f5;
    text-decoration: none; /*Quitae el subrayado */
  }

  .form{
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
  