/* darle estilo al mení */
#header{
    margin: auto; /*Centrado*/
    width: 500px; /*Tamaño */
    font-family: Arial, Helvetica, sans-serif; /*Tipo de letra */
}

ul, ol{
    list-style: none; /* Para que desaparezcan las viñetas */
}
.nav li a{
    background: linear-gradient(30deg, #FFF,#434343); /*Color del marco */
    color: black; /*color de la palabra */
    text-decoration: none; /*Quitae el subrayado */
    padding: 15px 20px; /*acomodar */
    display: block; /*darle un espaciado */
}

/* estilo cuando se ponga el puntero encima del menú */

.nav li a:hover{
    background-color:#434343 ; /*Color del marco */
}

/*Los li directos que estén dentro del nav */
.nav > li{
    float: left; /*ponerle en forma de menú*/
}

.nav li ul{
    display: none; /* Todos los submenús desaparece*/
    position: absolute; /* Conforme al menú*/
    min-width: 140px;
}
/*">" significa que sea directo a */
.nav li:hover > ul{
    display: block; /* para que aparezcan los submenús */
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    right: -140px; /*Para pasarle al lado derecho los submenús de los submenus */
    top: 0px;
}

/* Diseño a la imagen */

.ig{
    border-radius: 10%;
}

.imageninicio{
    width: 100%;
    height: 330px;
    box-shadow: -25px 25px 10px rgba(3, 3, 3, 0.842); 
    border-radius: 40px;
    border: 5px solid rgba(255, 255, 255, 0.507);
    margin: auto;
    display: block;
    text-align: center;
}
h1 {
    color: #333;
    text-align: center;
  }
  .hotel-info {
    font-family:'Courier New', Courier, monospace;
    margin: 20px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .hotel-info img {
    display: block;
    margin: 0 auto 20px;
    max-width: 100%;
  }
  .hotel-info p {
    line-height: 1.5;
  }